<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<!-- <title>东方神泰健康</title> -->
<TITLE>东方神泰健康 官方网站首页</TITLE>
<META content="" name=keywords>
<link href="css/index.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/imein.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div id="head">
  <div class="head_center">
  <div id="headmenu">
  	<a href="">首页</a>
  	<a href="Contact.html">联系我们</a>
  	<a href="javascript:void(0);" onclick="AddFavorite(window.location,document.title);">加入收藏</a>
  </div>
  </div>
</div>
<script type="text/javascript">
$("#sites,#headmenuSon").hover(function(){
  $("#sites").css("color","#FFF");
  $("#headmenuSon").stop().slideDown(350);
},function(){
  $("#sites").css("color","#A8CBE3");
  $("#headmenuSon").stop().slideUp(250);
});
</script>
<div id="top">
  <div id="logo">
  	<a href="#">
  		<img src="images/mydf-2.png" >
  	</a>
  </div>
 <ul id="menu">
    <li>
      <a href="/" class="">首页</a>
    </li>
    <li class="split"><img src="picture/menu_split.gif"></li>
    <li>
      <a href="about.html" class="">品牌介绍</a>
    </li>
    <li class="split"><img src="picture/menu_split.gif"></li>
    <li>
      <a href="Article.html" class="">新闻动态</a>
    </li>
    <li class="split"><img src="picture/menu_split.gif"></li>
    <li bg="none">
    	<a href="Anli.html" class="" style="background: none;">产品中心</a>   
    </li>
    <li class="split"><img src="picture/menu_split.gif"></li>
    <li>
      <a href="gaiK.html" class="">企业文化</a>
    </li>
    <li class="split"><img src="picture/menu_split.gif"></li>
    <li>
      <a href="Contact.html" class="">联系我们</a>
    </li>
    <li class="split"><img src="picture/menu_split.gif"></li>
    <li>
      <a href="Job.html" class="">加入我们</a>
    </li>   
  </ul>
  <div id="search">
  <form id="formsearch" name="formsearch" method="POST" action="">    
    <div style="width:36px; height:28px; float:right;">
    <img src="picture/search_btn.png" style="cursor:pointer;" onClick="javascript:check_and_submit(document.formsearch);"></div>
    <div style="background:#EEE; height:28px; line-height:26px; width:150px; float:right; border-radius:4px 0px 0px 4px;">
    <input type="text" name="keys" id="keys" value="关键词…" style="background:none; border:0px none; padding:0px 5px; margin-left:2px; margin-top:1px; color:#888; width:130px; outline:none;">
    </div>
  <input type="hidden" name="think_html_token" value=""/></form>
  </div>
  <div class="clearfix"></div>
</div>
<script type="text/javascript">
  var tag="";
   function check_and_submit(obj)
   {
      var ele = obj.elements;
      tag = obj;
      tag.submit(); 
      // setTimeout("do_login_submit()",0);

   }

$("#keys").focus(function(){
  $(this).css("color","#FFF");
  if($(this).val()=='关键词…'){
    $(this).val('');
  }
  $(this).parent().stop().animate({"backgroundColor":"#0067AC","width":"180px"},350);
  $(this).stop().animate({"width":"160px"},350);
});
$("#keys").blur(function(){
  $(this).css("color","#888");
  if($(this).val()==''){
    $(this).val('关键词…');
  }
  $(this).parent().stop().animate({"backgroundColor":"#EEEEEE","width":"150px"},300);
  $(this).stop().animate({"width":"130px"},300);
});
$("#menu li").hover(function(){
  if($(this).attr("bg")=="none"){
    $(this).find("a").css("background","none");
  }
  $(this).find("a").eq(0).addClass("A");
  $(this).find("div").stop().slideDown(350);
},function(){
  if($(this).attr("bg")=="none"){
    $(this).find("a").css("background","none");
  }
  $(this).find("a").eq(0).removeClass("A");
  $(this).find("div").stop().slideUp(200);
});
</script>

<script src="js/jquery.superslide.2.1.js"></script>
<link rel="stylesheet" type="text/css" href="css/swiper-3.4.1.min.css">
<div class="banner">
			<div class="bd">
				<ul>
				<li>
					<a href="#">
						<img src="images/benner1.jpg" style="width:100%; height:340px;"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/benner2.jpg" style="width:100%; height:340px;"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/banner3.jpg" style="width:100%; height:340px;"/>
					</a>
				</li>  
				</ul>
			</div>
			<div class="hd">
             <ul></ul>

            </div>
</div>
<script>
jQuery(".banner").slide({
	  titCell:".hd ul",
	  mainCell:".bd ul",
	  autoPlay:true,
	  autoPage:true,
	  trigger:"click" 
}); 

</script>
<div class="container">
	<!-- 栏目 -->
	<div class="row">	

		<!-- 公司新闻 -->
		<div class="col-md-8">
			<h1 class="title">新闻动态</h1>
    <a href="Article.html" class="btn btn-default btn-xs more-btn">+&nbsp;MORE</a>
    <div class="clearfix"></div>
				<div class="col-md-5" style=" padding-left:0px;  margin-top:15px; ">
	 				<div id="newinf" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<a href="#">
									<img src="picture/591284fa96048_thumb.jpg" alt="与时俱进大学生发明雨水收集技术" style="max-width:100%;" border="0" />							
									<div class="carousel-caption nav-title">与时俱进大学生发明雨水收集技术</div>
								</a>
							</div>
						</div>
					</div> 
				</div>   
				<div class="col-md-6">
					<ul class="list-unstyled list-new" id="newlist">
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
	  <div class="col-md-4">
			<h1 class="title">品牌介绍</h1>
    <a href="about.html" class="btn btn-default btn-xs more-btn">+&nbsp;MORE</a>
	    <div class="clearfix"></div>
				<div style=" margin-top:15px;">
					<img class="img-responsive2" src="picture/zhaoping.jpg" alt="公司荣誉">
					<ul class="list-unstyled list-new">
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">房建工程总承包</a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">市政工程总承包</a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">起重设备安装工程</a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">古建筑工程</a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">地基基础工程 </a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">环保工程 </a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">雨水回收工程 </a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">防水防腐保温工程</a>					
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">消防设施工程 </a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">维修加固工程 </a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">城市照明工程</a>
						</div>
						<div style="width:115px; height:30px; float:left; margin-top:10px;">
							<a href="#">幕墙工程</a>
						</div>	
					</ul>
				</div>
			</div>
	  <div class="clearfix"></div>
	</div>
	<div class="row row-2">
		<!-- 技术中心 -->
		<div class="col-md-8">
			<h1 class="title">企业文化</h1>
    <a href="gaiK.html" class="btn btn-default btn-xs more-btn">+&nbsp;MORE</a>
      <div class="clearfix"></div>
			<div class="col-md-5" style=" padding-left:0px;  margin-top:15px; ">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<img src="picture/aboutus.jpg" alt="news1">
						</div>
					</div>
				</div> 
      </div>   
			<div class="col-md-6 aboutus">
				<p>
					     东方神泰健康是拥有：建筑工程施工总承包贰级、市政公用工程施工总承包贰级、地基基础工程专业承包贰级、钢结构工程专业承包贰级、建筑装修装饰工程专业承包贰级、防水防腐保温工程专业承包贰级、建筑幕墙工程专业承包贰级、城市及道路照明工程专业承包贰级、古建筑工程专业承包贰级、环保工程专业承包贰级、起重设备安装工程专业承包贰级、消防设施工程专业承包贰级、特种工程专业承包为一体的综合性建筑企业 。
	
	我们将加强完善自身管理机制，追求与客户长远、稳定、双赢的合作关系，使企业获得各界客户的信赖与支持。不断探索进取，努力提升技术水准、管理水平，同时注重业务拓展，努力建立与客户的良好沟通。企业秉持：“珍惜托付，用心服务”的建设理念。
	
	我们坚持主观与客观的最佳结合，使团队和员工充满激情，决心立足于重实际、见实效，把文化理念、企业精神融入到生产建设和质量管理的各个环节，致力于用文化提升领导力、执行力和凝聚力，以文化促进生产力。
	
	以坚定自信、一往无前的勇气，昂首挺进，迈向更加绚丽的未来!
					</p>
			</div>
		</div>
		
		<!-- 采购需求 -->
        <div class="col-md-4">
			<h1 class="title">联系我们</h1>
    <a href="Contact.html" class="btn btn-default btn-xs more-btn">+&nbsp;MORE</a>
            <div class="clearfix"></div>
			<div style=" margin-top:15px;">
                <div style=" width:360px; height:140px;"><img src="picture/map.png" style=" display:block; width:100%; height:140px;"/></div>
				<ul class="list-unstyled procurement-li procurement_li2">
					<li>
						<a href="#"> 公司地址：四川省成都市金牛区蜀西环街69号</a>
					</li>
					<li>
						<a href="#"> 电话：<font style=" color:#3a6ccf;">028-87560962</font>  &nbsp;&nbsp;<font style=" color:#3a6ccf;">028-87560962</font></a>
					</li>
					<li>
						<a href="#"> 联系人：许总 </a>
					</li>
					<li>
						<a href="#"> 邮箱：5587493@qq.com</a>
					</li>  
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>	
	<div class="row">

		<!-- 产品展示 -->
		<div class="col-md-12">
			<h1 class="title">产品展示</h1>
    <a href="Anli.html" class="btn btn-default btn-xs more-btn">+&nbsp;MORE</a>
            <div class="clearfix"></div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12 col-pro">
			<div id="Carousel" class="carousel slide" data-ride="carousel" style="margin-bottom:30px">
        <ol class="carousel-indicators" style="display:none;">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">	
							<div class="item active">
								<div class="row row_cp" style=" width:1150px;">
									<div class="col-md-3 pro-images">
										<a href="#" class="thumbnail">
											<img src="picture/59115a7c94150.jpg" style="max-width:100%;" border="0" />
											产品一
										</a>
									</div>
									<div class="col-md-3 pro-images">
										<a href="#" class="thumbnail">
											<img src="picture/59115a50c1f14.jpg" style="max-width:100%;" border="0" />
											产品二
										</a>
									</div>
									<div class="col-md-3 pro-images">
										<a href="#" class="thumbnail">
											<img src="picture/591157c85bc6d.jpg" alt="" style="max-width:100%;" border="0" />
											产品三
										</a>
									</div>
									<div class="col-md-3 pro-images">
										<a href="#" class="thumbnail">
											<img src="picture/5911579b5b98f.jpg" alt="" style="max-width:100%;" border="0" />
											产品四
										</a>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
        </div>
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
  var tag="";
   function check_and_submit(obj)
   {
      var ele = obj.elements;
      tag = obj;
      tag.submit(); 
      // setTimeout("do_login_submit()",0);

   }
$("#bottom_r").hover(function(){
	$(this).stop().animate({'backgroundColor':'#D90000'},450);
},function(){
	$(this).stop().animate({'backgroundColor':'#F90'},300);
});
$(".hotcar ul li dl").hover(function(){
	$(this).stop().animate({'backgroundColor':'#0067AC'},450);
},function(){
	$(this).stop().animate({'backgroundColor':' #FFFFFF'},300);
});
$(".row_cp div").eq(3).css("padding","0");
</script>

<div id="footer">
  <div class="footer">
    <div class="footer_nav">

    
    <div class="footer_bottom">
      <p style=" padding-top:10px;"> 版权所有： 东方神泰健康  Copyright  &copy; 2017-2025 &nbsp;&nbsp;&nbsp;  电话：028-87560962 &nbsp;&nbsp;&nbsp; 传真：028-87560962</p>

      <p style="padding-top:10px;"> 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：四川省成都市金牛区蜀西环街69号 &nbsp;&nbsp; 邮箱：5587493@qq.com&nbsp;&nbsp; </p>

    </div>

    <!-- <a style='padding-right:20px;color:#cbcbcb; cursor:pointer;'>网址：http://www.sctofun.com</a> -->
  </div>
</div>
</div>

<script type="text/javascript">
// JavaScript Document
// 加入收藏 <a onclick="AddFavorite(window.location,document.title)">加入收藏</a>
 
function AddFavorite(sURL, sTitle)
{
  try
  {
    window.external.addFavorite(sURL, sTitle);
  }
  catch (e)
  {
    try
    {
      window.sidebar.addPanel(sTitle, sURL, "");
    }
    catch (e)
    {
      alert("加入收藏失败，请使用Ctrl+D进行添加");
    }
  }
}
</script>

</body>
</html>
<script>

window.onload = function() {
  var mySwiper = new Swiper('.swiper-container',{
	    pagination: '.pagination',
        paginationClickable: true,
        centeredSlides: true,
		nextButton: '.arrow-left',
        prevButton: '.arrow-right',
		loop:true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false,

  });  
}


</script>